@(message: String)

@Main("Faculty/Staff") {
  <div class="container">
    <div class="well">
      <ul>
        <li><a href="Accreditation.html">Accreditation</a></li>
        <li class="style4"><a href="https://lilinote.k12.hi.us/PUBLIC/ADMINR1.NSF/85255a0a0010ae82852555340060479d/4996c004afd7cbaf0a25675f006efbd9?OpenDocument" target="_blank">Chapter 19                           </a>
      </li><li><a href="mandatoryvideos.html">DOE Compliance Expectations - Mandatory Videos </a>
      </li><li><a href="ferpa.html">Family Educational Rights and Privacy Act (FERPA)</a>
      </li><li><a href="School PDF Files/2014-15 Eligibility Dates - Attach A - 7-15-14.pdf" target="_blank">Grade Check Dates for Co-Curricular Activities</a>
      </li><li><a href="http://www.hawaiipublicschools.org/Pages/home.aspx" target="_blank">Hawaii Department of Education</a>
      </li></ul>
    </div>
  </div>
}